body {
  background-color: rgb(255, 255, 255);
}

/* CABEÇALHO INICIO */

header#cabecalho {
  max-height: 300px;
}

header#cabecalho img {
  display: block;
  float: left;
  margin: 0px;
  margin-top: -20px;
  max-height: 300px;
}

#cabecalhoInterno {
  margin: auto;
  max-width: 1400px;
  max-height: 300px;
}

.nav {
  padding-top: 150px;
  padding-right: 5px;
  margin-right: 5px;

  border-color: rgb(148, 99, 98);
  border-style: solid;
  border-top: 2px;
  border-right: 2px;
  border-left: 2px;
}

.nav .nav-item {
  display: inline-block;
  margin: 1px;
  padding: 1px;
}

.nav .nav-item a {
  color: rgb(186, 186, 188);
  font-size: 18pt;
  font-weight: 500;
  transition: 0.5s;
}

.nav .nav-item a:hover {
  color: rgb(148, 99, 98);
}

/* CABEÇALHO FIM */

/* CORPO INICIO */

.carousel-item > img {
  height: auto;
  min-width: 100%;
}

/* CORPO FIM */

/* RODAPÉ INICIO */

/* RODAPÉ FIM */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #cabecalho img {
    margin: auto;
    height: 150px;
  }

  .nav {
    display: none;
  }
}

/*@media screen and (min-width: 601px) and (max-width: 980px) {
  .carousel-item img {
    height: 400px;
  }
}*/

@media screen and (max-width: 1200px) {
  .carousel-item img {
    height: 300px;
  }
} 

@media screen and (min-width: 1400px) {
  .carousel-item img {
    height: 600px;
  }
}
